<a href="https://colab.research.google.com/github/Harsh-Aggarwal-123/Data-Science/blob/main/Basics_of_API2_Working_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#random api gives random user
import requests

response = requests.get('https://randomuser.me/api/')
response

In [ ]:
print(response.text)

{"results":[{"gender":"male","name":{"title":"Mr","first":"Flavio","last":"Ureña"},"location":{"street":{"number":9902,"name":"Continuación Yucatán"},"city":"Paso Morelos (Cuetlajuchi)","state":"Guerrero","country":"Mexico","postcode":88600,"coordinates":{"latitude":"23.1543","longitude":"-179.7510"},"timezone":{"offset":"-3:30","description":"Newfoundland"}},"email":"flavio.urena@example.com","login":{"uuid":"5e5f796d-6787-4e46-b157-71a2e267ddf7","username":"greenladybug532","password":"antony","salt":"xEHE4tBR","md5":"81858698cf8adf00a7de0b1a5ca3153e","sha1":"1530d6a81b8e725d76f2db7b16ae712985efdd7e","sha256":"d498d2b4e381c9993012bbc05f3793d293049c0a8517f8916b87bcc95b308c30"},"dob":{"date":"1950-02-22T07:08:41.587Z","age":72},"registered":{"date":"2015-05-07T14:15:37.296Z","age":7},"phone":"(691) 348 8941","cell":"(628) 858 5097","id":{"name":"NSS","value":"42 08 12 5314 9"},"picture":{"large":"https://randomuser.me/api/portraits/men/15.jpg","medium":"https://randomuser.me/api/portraits/med/men/15.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/men/15.jpg"},"nat":"MX"}],"info":{"seed":"4b837d4307b19d70","results":1,"page":1,"version":"1.4"}}

In [ ]:
import json

sample_json = '{"Emp_ID": 1}'

print(sample_json)
print(type(sample_json))

{"Emp_ID": 1}
<class 'str'>

In [ ]:
# json load libraryr json into python data
python_data = json.loads(sample_json)

print(python_data)
print(type(python_data))

{'Emp_ID': 1}
<class 'dict'>

In [ ]:
print(python_data['Emp_ID'])

1

In [ ]:
print(type(python_data['Emp_ID']))

<class 'int'>

In [ ]:
sample_json = '{"temp" : 99.6}'
python_data = json.loads(sample_json)
print(python_data)
print(type(python_data))
print(type(python_data['temp']))

{'temp': 99.6}
<class 'dict'>
<class 'float'>

In [ ]:
sample_json = '{"Name" : "Atulya"}'
python_data = json.loads(sample_json)
print(python_data)
print(type(python_data))
print(type(python_data['Name']))

{'Name': 'Atulya'}
<class 'dict'>
<class 'str'>

In [ ]:
json_data =  '{"name":"Atulya", "age":28, "city":"New Delhi", "some_val": null}'
python_data = json.loads(json_data)
print(python_data)
print(type(python_data))
print(python_data['name'])
print(python_data['age'])
print(python_data['city'])
print(python_data['some_val'])
print(type(python_data['name']))
print(type(python_data['age']))
print(type(python_data['city']))
print(type(python_data['some_val']))

{'name': 'Atulya', 'age': 28, 'city': 'New Delhi', 'some_val': None}
<class 'dict'>
Atulya
28
New Delhi
None
<class 'str'>
<class 'int'>
<class 'str'>
<class 'NoneType'>

In [ ]:
json_data_new =  '{"Employee":{"name":"Atulya", "age":28, "city":"New Delhi", "some_val": null}}'
python_data_new = json.loads(json_data_new)

print(python_data_new)
print(type(python_data_new))


print(python_data_new['Employee'])
print(type(python_data_new['Employee']))

employee_data = python_data_new['Employee']
print(employee_data['name'])
print(employee_data['age'])
print(employee_data['city'])
print(employee_data['some_val'])

{'Employee': {'name': 'Atulya', 'age': 28, 'city': 'New Delhi', 'some_val': None}}
<class 'dict'>
{'name': 'Atulya', 'age': 28, 'city': 'New Delhi', 'some_val': None}
<class 'dict'>
Atulya
28
New Delhi
None

In [ ]:
another_json_data = '{"Cars": ["Volvo", "Audi", "McLaren", "Hyundai"]}'

print(another_json_data)
print(type(another_json_data))

another_python_data = json.loads(another_json_data)
print(another_python_data)
print(type(another_python_data))


print(another_python_data['Cars'])
print(type(another_python_data['Cars']))

mylist = another_python_data['Cars']

for item in mylist:
    print(item)

{"Cars": ["Volvo", "Audi", "McLaren", "Hyundai"]}
<class 'str'>
{'Cars': ['Volvo', 'Audi', 'McLaren', 'Hyundai']}
<class 'dict'>
['Volvo', 'Audi', 'McLaren', 'Hyundai']
<class 'list'>
Volvo
Audi
McLaren
Hyundai

In [ ]:
# https://apipheny.io/free-api/

In [ ]:
# http://universities.hipolabs.com/search?country=United+States

In [ ]:
# https://randomuser.me/api/